@charset "UTF-8";
button {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    margin: 0;
    padding: 4px;
    background: $color-theme;
    border: 1px solid $color-focus;
    color: $color-focus;
    box-shadow: 2px 2px 4px gray;
    outline: none;
    transition: background 200ms;
    border-radius: 0;
    font-size: 0; // trick to remove spaces from inner element display inline-block
    border: 0;
    box-shadow: none;
    background: transparent;
    border-radius: 50%;
    &:focus {
        box-shadow: 2px 2px 1rem $color-focus;
    }
    &.cubetwo-active {
        background: rgba(white, .2);
    }
    &.cubetwo-btn-adjust {}
}

.cubetwo-help-component,
.cubetwo-menu-component {
    z-index: 2;
    transition: transform 200ms;
    position: fixed;
    display: flex;
    transform: translateY(-50vh);
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 25vh;
    border-bottom: 1px solid rgba(white, .2);
    padding: .5em 0 4em;
    color: rgba(white, 1);
    background: rgba($color-theme, .96);
    font-size: .8rem;
    &.cubetwo-show-dialog {
        transform: translateY(0);
    }
    @include device(medium) {
        font-size: 1.2rem;
    }
    >.cubetwo-github-link {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        transition: 200ms;
        color: rgba(white, .5);
        &:focus {
            color: $color-focus;
        }
    }
    .cubetwo-row {
        padding: .1em 0;
        margin: 0 auto;
        max-width: 40rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        width: 100%;
        transition: 200ms;
        font-size: .8em;
        // color: rgba(white, .6);
        &:hover {
            //   color: rgba(white, .7);
        }
    }
    .cubetwo-device-info {
        text-align: center;
    }
    .cubetwo-device-info--keyboard {
        .cubetwo-device-info-groups {
            display: flex;
        }
        .cubetwo-device-info-group {
            display: flex;
            flex-direction: column;
            >div {
                display: flex;
                flex-direction: row;
                span,
                i {
                    font-size: inherit;
                    display: inline-block;
                    position: relative;
                    min-width: 1.4em;
                }
            }
        }
    }
}

.cubetwo-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4 * $cube-size;
    height: 4 * $cube-size;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    //background: rgba(white, .06);
    overflow-x: hidden;
    >.cubetwo-button-grid {
        padding: .5rem;
        button {
            display: block;
        }
    }
    >.cubetwo-button-column {}
    >.cubetwo-button-column-left,
    >.cubetwo-button-column-right {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            margin-bottom: 1rem;
            @include device(medium) {
                margin-bottom: 2rem;
            }
        }
    }
    >.cubetwo-button-column-right {
        left: auto;
        right: 0;
    }
    >.cubetwo-button-row {}
    >.cubetwo-button-row-top,
    >.cubetwo-button-row-bottom {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    >.cubetwo-button-row-bottom {
        top: auto;
        bottom: 0;
    }
}

.cubetwo-rotation-view {
    transition: transform 200ms;
    width: 2 * $cube-size;
    height: 2 * $cube-size;
    max-width: 100%;
    perspective: 5000px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-#{$rotate-view-x}deg) rotateY(-#{$rotate-view-y}deg) rotateZ(0deg);
    &.spin {
        animation: spin-animation 20s linear infinite;
    }
    .cubetwo-cube-group {
        width: 2 * $cube-size;
        height: 2 * $cube-size;
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        //  outline: 1px solid red; // debug
        &--1 {}
        &--2 {}
    }
}

.cubetwo-cube-1,
.cubetwo-cube-5 {
    position: absolute;
    top: 0;
    left: 0;
}

.cubetwo-cube-2,
.cubetwo-cube-6 {
    position: absolute;
    top: 0;
    right: 0;
}

.cubetwo-cube-3,
.cubetwo-cube-7 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cubetwo-cube-4,
.cubetwo-cube-8 {
    position: absolute;
    bottom: 0;
    right: 0;
}

[data-type="cubetwo"] {
    width: $cube-size;
    height: $cube-size;
    transform-style: preserve-3d;
    font-size: 1rem;
    &:focus {
        outline: none;
        .cubetwo-cube[data-type="cubetwo-display"] {
            >div {
                border-color: $color-focus;
                >div {}
            }
        }
    }
    .cubetwo-cube {
        width: inherit;
        height: inherit;
        transform-style: preserve-3d;
        [data-type=front] {
            transform: translateZ($cube-size);
        }
        [data-type=up] {
            transform: rotateX(-90deg) rotateY(180deg) rotateZ(180deg);
            transform-origin: top center;
        }
        [data-type=right] {
            transform: rotateY(-270deg);
            transform-origin: top right;
        }
        [data-type=back] {
            transform: rotateY(180deg);
        }
        [data-type=down] {
            transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
            transform-origin: bottom center;
        }
        [data-type=left] {
            transform: rotateY(270deg);
            transform-origin: center left;
        }
        &[data-type="cubetwo-display"] {
            // display: none;
            transition: transform $rotate-transition-duration;
            user-select: none;
            pointer-events: none;
            position: relative;
            >div {
                transition: opacity $rotate-transition-duration;
                user-select: none;
                position: absolute;
                width: inherit;
                height: inherit;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $color-theme;
                font-size: 0;
                color: transparent;
                //backface-visibility: hidden;
                //border-radius: 1px;
                &.tapped {
                    opacity: .2;
                }
                >div {
                    color: $color-theme;
                    //box-shadow: inset 0 0 0 1px, 0 0 0 1px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    //background: url(#{$cube-background-image-url}) no-repeat center center / contain;
                    background-color: rgba(white, 1);
                    background-blend-mode: multiply;
                }
            }
        }
        &[data-type="cubetwo-touch"] {
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            >div {
                border: 2px solid;
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                backface-visibility: hidden;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: start;
                color: #222;
                color: transparent;
                cursor: pointer;
                background: transparent;
                //background: rgba(red, .5);
                font-size: 0;
                user-select: none;
            }
        }
    }
    &.cubetwo-cube-5,
    &.cubetwo-cube-6,
    &.cubetwo-cube-7,
    &.cubetwo-cube-8 {
        .cubetwo-cube {
            [data-type=front] {
                transform: translateZ(0); // override
            }
            [data-type=up] {
                transform: translateZ(-$cube-size) rotateX(-90deg) rotateY(180deg) rotateZ(180deg);
                transform-origin: top center;
            }
            [data-type=right] {
                transform: translateZ(-$cube-size) rotateY(-270deg);
                transform-origin: top right;
            }
            [data-type=back] {
                transform: translateZ(-$cube-size) rotateY(180deg);
            }
            [data-type=down] {
                transform: translateZ(-$cube-size) rotateX(90deg) rotateY(180deg) rotateZ(180deg);
                transform-origin: bottom center;
            }
            [data-type=left] {
                transform: translateZ(-$cube-size) rotateY(270deg);
                transform-origin: center left;
            }
        }
    }
}

@keyframes spin-animation {
    from {
        transform: rotateY(0turn) rotateX(0turn);
    }
    to {
        transform: rotateY(3turn) rotateX(2turn);
    }
}


/* debug */

// [data-type="cubetwo"]:not(.cubetwo-cube-1) {
//     [data-type="cubetwo-display"]>div>div {
//         background: rgba(red, .5) !important;
//     }
// }