@charset "UTF-8";
button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: $color-theme;
    border: 1px solid $color-focus;
    color: $color-focus;
    box-shadow: 2px 2px 4px gray;
    outline: none;
    min-height: 32px;
    transition: background 200ms;
    border-radius: 0;
    &:focus {
        box-shadow: 2px 2px 1em $color-focus;
    }
    &.cubetwo-active {
        background: rgba(white, .2);
    }
}

.cubetwo-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4 * $cube-size;
    height: 4 * $cube-size;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    //background: rgba(white, .06);
    overflow-x: hidden;
    > button {
        position: absolute;
        overflow: hidden;
        height: $btn-size;
        width: $btn-size;
    }
    > .cubetwo {
        &-btn-top-left {
            top: 0;
            left: 0;
        }
        &-btn-top-center {
            top: 0;
            left: calc(50% - #{$btn-size/2});
        }
        &-btn-top-right {
            top: 0;
            right: 0;
        }
        &-btn-center-left {
            top: calc(50% - #{$btn-size/2});
            left: 0;
        }
        &-btn-center-right {
            top: calc(50% - #{$btn-size/2});
            right: 0;
        }
        &-btn-bottom-left {
            bottom: 0;
            left: 0;
        }
        &-btn-bottom-center {
            bottom: 0;
            left: calc(50% - #{$btn-size/2});
        }
        &-btn-bottom-right {
            bottom: 0;
            right: 0;
        }
    }
}

.cubetwo-rotation-view {
    transition: transform 200ms;
    width: 2 * $cube-size;
    height: 2 * $cube-size;
    max-width: 100%;
    perspective: 2000px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-#{$rotate-view-x}deg) rotateY(-#{$rotate-view-y}deg) rotateZ(0deg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    &.left-side {
        transform: rotateX(-#{$rotate-view-x}deg) rotateY(#{$rotate-view-y}deg) rotateZ(0deg);
    }
    &.down-side {
        transform: rotateX(#{$rotate-view-x}deg) rotateY(-#{$rotate-view-y}deg) rotateZ(0deg);
    }
    &.left-down-side {
        transform: rotateX(#{$rotate-view-x}deg) rotateY(#{$rotate-view-y}deg) rotateZ(0deg);
    }
    &.spin {
        animation: spin-animation 20s linear infinite;
    }
    .cubetwo-cube-group {
        //transition: transform 300ms;
        width: 2 * $cube-size;
        height: 2 * $cube-size;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
        align-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        &--1 {
            transform: translateZ($cube-size/2);
        }
        &--2 {
            transform: translateZ(-$cube-size/2);
        }
    }
}

[data-type="cubetwo"] {
    width: $cube-size;
    height: $cube-size;
    position: relative;
    transform-style: preserve-3d;
    font-size: 1rem;
    &:focus {
        outline: none;
        .cubetwo-cube[data-type="cubetwo-display"] {
            >div {
                border-color: $color-focus;
                >div {
                    //color: $color-focus; //box-shadow color
                }
            }
        }
    }
    .cubetwo-cube {
        width: inherit;
        height: inherit;
        transform-style: preserve-3d;
        [data-type=front] {
            transform: translateZ($cube-size/2);
        }
        [data-type=up] {
            transform: rotateX(-90deg) translateY($cube-size/2) rotateY(180deg) rotateZ(180deg);
            transform-origin: top center;
        }
        [data-type=right] {
            transform: rotateY(-270deg) translateX($cube-size/2);
            transform-origin: top right;
        }
        [data-type=back] {
            transform: translateZ(-$cube-size/2) rotateY(180deg);
        }
        [data-type=down] {
            transform: rotateX(90deg) translateY(-$cube-size/2) rotateY(180deg) rotateZ(180deg);
            transform-origin: bottom center;
        }
        [data-type=left] {
            transform: rotateY(270deg) translateX(-$cube-size/2);
            transform-origin: center left;
        }
        &[data-type="cubetwo-display"] {
            // display: none;
            transition: transform $rotate-transition-duration;
            user-select: none;
            pointer-events: none;
            position: relative;
            >div {
                transition: opacity $rotate-transition-duration;
                user-select: none;
                pointer-events: none;
                position: absolute;
                width: inherit;
                height: inherit;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $color-theme;
                font-size: 0;
                color: transparent;
                //backface-visibility: hidden;
                //border-radius: 1px;
                &.tapped {
                    opacity: .2;
                }
                >div {
                    color: $color-theme;
                    //box-shadow: inset 0 0 0 1px, 0 0 0 1px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    //background: url(#{$cube-background-image-url}) no-repeat center center / contain;
                    background-color: rgba(white, 1);
                    background-blend-mode: multiply;
                }
            }
        }
        &[data-type="cubetwo-touch"] {
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            >div {
                border: 2px solid;
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                backface-visibility: hidden;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: start;
                color: #222;
                color: transparent;
                cursor: pointer;
                background: transparent;
                //background: rgba(red, .5);
                //display: none;
                font-size: 0;
                user-select: none;
            }
        }
    }
}

@keyframes spin-animation {
    from {
        transform: rotateY(0turn) rotateX(0turn);
    }
    to {
        transform: rotateY(3turn) rotateX(2turn);
    }
}


/* debug */

[data-type="cubetwo"]:not([id="cubetwo-cube-1"]) {
    [data-type="cubetwo-display"]>div>div {
        //background: rgba(red, .5) !important;
    }
}