html {
    font-size: 100%;
}

html,
body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    font-family: Helvetica, sans-serif;
    color: white;
    margin: 0;
    background-color: $color-theme;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    &.with-background-image {
        background: rgba(white, .5) url($cube-background-image-url) 0% 0% no-repeat;
        background-size: contain;
    }
    animation: page-fade-in 2000ms;
}

.cubetwo-help {
    z-index: 2;
    pointer-events: none;
    transition: transform 200ms;
    position: fixed;
    display: flex;
    transform: translateY(-50vh);
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    min-height: 1.5em;
    border-bottom: 1px solid rgba(white, .2);
    padding: .5em 0;
    color: rgba(white, 1);
    background: rgba($color-theme, .96);
    font-size: .8rem;
    &.cubetwo-show-help {
        transform: translateY(0);
    }
    @include device(medium) {
        font-size: 1.2rem;
    }
    .cubetwo-row {
        padding: .1em 0;
        margin: 0 auto;
        max-width: 40rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        width: 100%;
        transition: 200ms;
        font-size: .8em;
        // color: rgba(white, .6);
        &:hover {
            //   color: rgba(white, .7);
        }
    }
    .cubetwo-device-info {
        text-align: center;
    }
    .cubetwo-device-info--keyboard {
        .cubetwo-device-info-groups {
            display: flex;
        }
        .cubetwo-device-info-group {
            display: flex;
            flex-direction: column;
            >div {
                display: flex;
                flex-direction: row;
                span,
                i {
                    font-size: inherit;
                    display: inline-block;
                    position: relative;
                    min-width: 1.4em;
                }
            }
        }
    }
    .cubetwo-state-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        >h3 {
            margin: 0;
            padding: 0;
            font-size: .8em;
            font-weight: 300;
        }
    }
    .cubetwo-state-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        >div {
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            min-width: 2em;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: $btn-size;
    background: rgba(white, .1);
    
    > div {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >a {
            transition: 200ms;
            color: rgba(white, .5);
            &:focus {
                color: $color-focus;
            }
        }
    }
    .cubetwo-btn-group {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        button {
            font-size: 0;
            margin: 0 1rem;
            
        }
    }
}

@keyframes page-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}