html {
    font-size: 100%;
}

html,
body {
    min-height: 100%;
    min-height: 100vh;
}

body {
    font-family: Helvetica, sans-serif;
    color: white;
    margin: 0;
    background-color: $color-theme;
}

.body-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-blend-mode: multiply;
    &.with-background-image {
        background: rgba(white, .5) url($cube-background-image-url) 0% 0% no-repeat;
        background-size: contain;
    }
    animation: page-fade-in 2000ms;
}

@keyframes page-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}