@charset "UTF-8";
$cube-size: 20vmin;
$rotate-transition-duration: 300ms; //160ms;
$color-focus: lightblue;
$color-theme: #111;
// $color-up: #fff;
// $color-front: #009E60;
// $color-right: #C41E3A;
// $color-left: #FF5800;
// $color-back:#0051BA;
// $color-down: #FFD500;
$cube-background-image-url: '/src/assets/images/fox.svg';
//$cube-background-image-url: '//s3-us-west-2.amazonaws.com/s.cdpn.io/157670/fox.svg';
//$cube-background-image-url: 'fox.svg';