@charset "UTF-8";
$cube-size: 22vmin; // same value in cube-two.js file
$rotate-transition-duration: 200ms; //160ms;
$color-focus: lightblue;
$color-theme: #111;
$rotate-view-x: 20;
$rotate-view-y: 30;
$btn-size: 32px;
// $color-up: #fff;
// $color-front: #009E60;
// $color-right: #C41E3A;
// $color-left: #FF5800;
// $color-back:#0051BA;
// $color-down: #FFD500;
$cube-background-image-url: '/src/assets/images/fox.svg';
//$cube-background-image-url: '//s3-us-west-2.amazonaws.com/s.cdpn.io/157670/fox.svg';